{% extends 'layout.html' %}

{% block body %}
<h2>Login</h2> <!--Iniciar Sessão-->


<!-- <div class="textbox">
    <i class="fas fa-street-view"></i>
    <input type="text" placeholder="Username" name="" value="">
</div>

<div class="textbox">
    <i class="fas fa-key"></i>
    <input type="password" placeholder="Password" name="" value="">
</div>

<input class="btn" type="button" name="" value="Sign in"> -->


<fieldset>
    <legend>Introduza os seus dados</legend>
    <form method="post">
        <h4><i class="fas fa-street-view"></i> Utilizador</h4>
        <input type='text' name='utilizador' required>

        <h4><i class="fas fa-key"></i> Palavra-Passe</h4>
        <input type='password' name='passe' required>

        <div class="footer"> <!-- classe rodapé -->
            <script src="https://kit.fontawesome.com/1ab94d0eba.js" crossorigin="anonymous"></script>
            <link rel="stylesheet" href="style.css">
            <span>Or Connect With Social Media</span>
            <div class="social-fields">
                <div class="social-field twitter">
                    <a href="#">
                        <i class="fab fa-twitter"></i>
                        Sign in with Twitter
                    </a>
                </div>
                <div class="social-field facebook">
                    <a href="#">
                        <i class="fab fa-facebook-f"></i>
                        Sign in with Facebook
                    </a>
                </div>
            </div>
        </div>
        <p><br></p>
        <input type='submit' value="Entrar">
    </form>
</fieldset>
{% if erro %}<h1>{{ erro }}</h1>{% endif %}

{% endblock %}