{% extends 'layout.html' %}

{% block body %}
<h2>Login</h2> <!--Iniciar Sessão-->


<!-- <div class="textbox">
    <i class="fas fa-street-view"></i>
    <input type="text" placeholder="Username" name="" value="">
</div>

<div class="textbox">
    <i class="fas fa-key"></i>
    <input type="password" placeholder="Password" name="" value="">
</div>

<input class="btn" type="button" name="" value="Sign in"> -->


<fieldset>
    <legend>Introduza os seus dados</legend>
    <form method="post">
        <h4><i class="fas fa-street-view"></i> Utilizador</h4>
        <input type='text' name='utilizador' required>

        <h4><i class="fas fa-key"></i> Palavra-Passe</h4>
        <input type='password' name='passe' required>

        <p><br></p>
        <input type='submit' value="Entrar">
    </form>
</fieldset>
{% if erro %}<h1>{{ erro }}</h1>{% endif %}

{% endblock %}