{% extends 'layout.html' %}

{% block body %}

<h2>Create Account</h2> <!--Registo-->
<fieldset>
    <legend>Introduza os seus dados</legend>
    <form method="post">
        <h4><i class="fas fa-street-view"></i> Utilizador</h4>
        <input type='text' name='utilizador' required>

        <h4><i class="fas fa-at"></i> Email</h4>
        <input type='text' name='email' required>

        <h4><i class="fas fa-key"></i> Palavra-Passe</h4>
        <input type='password' name='passe' required>

        <h4><i class="fas fa-user-check"></i> Confirme a Passe</h4>
        <input type='password' name='cpasse' required>
        <p><br></p>
        <input type='submit' value="Submeter">
    </form>
</fieldset>
{% if erro %}<h1>{{ erro }}</h1>{% endif %}
{% endblock %}
