{% extends 'layout.html' %}
{% block body %}

<h2>Register</h2> <!--Registo-->

<fieldset>
    <legend>Introduce your dices</legend> <!--Introduza os seus dados-->
    <form method="post">

        <h4><i class="fas fa-street-view"></i> User</h4>
        <input type='text' name='utilizador' required>

        <!-- Campo de género com 2 opções para escolha (select option) e css de classe "género" -->
        <h4><i class="fas fa-venus-mars"></i> Gender</h4>
        <div>
            <select id="género">
                <option selected disabled value="">Select your gender</option>
                <option>Masculine</option>
                <option>Feminine</option>
            </select>
        </div>

        <h4><i class="fas fa-at"></i> Email</h4>
        <input type='text' name='email' required>

        <h4><i class="fas fa-key"></i> Password</h4>
        <input type='password' name='passe' required>

        <h4><i class="fas fa-user-check"></i> Confirm the Password</h4>
        <input type='password' name='cpasse' required>

        <p></p>
        <input type='submit' value="Submit">
    </form>
</fieldset>

<!--Scroll top button-->
<a href="" id="link-topo">
    <i class="fas fa-arrow-up"></i>
</a>

{% if erro %}<h1>{{ erro }}</h1>{% endif %}
{% endblock %}