{% extends 'layout.html' %}

{% block body %}
<p><br></p>
<h2>Listagem de Clientes</h2>
<p><br></p>

<table border="16" align="center" ; cellpadding="8">
    <tr style="font-weight: bolder; background-color: #4CAF50">
        <td>Id</td>
        <td>Login</td>
        <td>Email</td>
        <td>Password</td>
        <td>NIF</td>
        <td>Nome</td>
        <td>Morada</td>
    </tr>
    {% for li in range(0, max) %}
    <tr>
        <td style="font-weight: bold">{{ tabela[li][0] }}</td>
        {% for co in range(1, 7) %}
        <td align="left">
            {{ tabela[li][co] }}
        </td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>

{% endblock %}