@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";

body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: LightGray;
}

fieldset {
    padding: 50;
    width: 250px;
    margin: auto;
}

/* Style the navigation bar */
.navbar {
    width: 100%;
    background-color: #555;
    overflow: auto;
}

/* Navbar links */
.navbar a {
    float: left;
    text-align: center;
    padding: 12px;
    color: White;
    text-decoration: none;
    font-size: 17px;
}

/* Navbar links on mouse-over */
.navbar a:hover {
    background-color: Black;
}

/* Current/active navbar link */
.active {
    background-color: MediumBlue;
}

/* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
@media screen and (max-width: 500px) {
    .navbar a {
        float: none;
        display: block;
    }
}

/****************************************************************/

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a, .dropbtn {
    display: inline-block;
    color: White;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: #00004a;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}


/* Rodapé - Redes Sociais */
/* body{
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2c3a47;
}

.sm a{
  display: inline-block;
  font-size: 40px;
  width: 100px;
  height: 100px;
  line-height: 100px;
  text-align: center;
  color: #6ab04c;
  margin: 0 16px;
  transition: .4s linear;
  position: relative;
}

.sm a::before, .sm a::after{
  content: '';
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  transition: .4s linear;
}

.sm a:hover{
  transform: scale(.8);
}

.sm a:hover::before{
  border-left: 4px solid;
  border-right: 4px solid;
  transform: skewX(20deg);
}

.sm a:hover::after{
  border-top: 4px solid;
  border-bottom: 4px solid;
  transform: skewY(-20deg);
} */


/* CSS Contact Us */
#ativar {
    display: block;
    margin: 20px auto;
}

#modal h1 {
    font-family: sans-serif;
    margin: 0px 0px 20px;
}

#modal label {
    display: block;
    font-family: sans-serif;
    margin-bottom: 5px;
    margin-top: 10px;
}

#modal input {
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 0.5rem;
    font-size: 1rem;
    background: #f7f7f7;
}

#modal button {
    margin-top: 20px;
    display: block;
    font-family: sans-serif;
    font-size: 1rem;
    padding: 0.6rem 2rem;
    border: none;
    background: #ffb801;
    border-radius: 4px;
    color: #402d00;
}

#modal {
    padding: 30px;
    background: white;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: 20px auto;
    opacity: 0;
    transform: translateX(-20px);
}

#modal.animar {
    animation-name: slide;
    animation-duration: 0.3s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;
    animation-play-state: running;
    /* animation: slide .3s forwards; */
}

@keyframes slide {
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

#load {
    width: 20px;
    height: 20px;
    border: 10px solid;
    border-radius: 50%;
    border-top-color: transparent;
    margin: 0 auto;
    color: #ffb801;
    animation: load 0.6s linear infinite;
}

@keyframes load {
    to {
        transform: rotate(360deg);
    }
}

@keyframes loadFrames {
    0% {
        transform: translate(0px) scale(0.5);
    }
    25% {
        transform: translate(200px);
    }
    50% {
        transform: translate(200px, -200px) scale(1.5);
    }
    75% {
        transform: translate(0px, -200px);
    }
    100% {
        transform: translate(0px) scale(0.5);
    }
}

/* CSS Login */
main.container {
    background: white;
    min-width: 320px;
    min-height: 40vh;
    padding: 2rem;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}

main h2 {
    font-weight: 600;
    margin-bottom: 2rem;
    position: relative;
}

main h2::before {
    content: '';
    position: absolute;
    height: 4px;
    width: 25px;
    bottom: 3px;
    left: 0;
    border-radius: 8px;
    background: linear-gradient(45deg, #8e2de2, #4a00e0);
}

form {
    display: flex;
    flex-direction: column;
}

.input-field {
    position: relative;
}

form input[type="submit"] {
    margin-top: 2rem;
    padding: 0.4rem;
    width: 100%;
    background: linear-gradient(to left, #000099, #8e54e9);
    cursor: pointer;
    color: white;
    font-size: 0.9rem;
    font-weight: 300;
    border-radius: 4px;
    transition: all 0.3s ease;
}

form input[type="submit"]:hover {
    letter-spacing: 0.5px;
    background: linear-gradient(to right, #000099, #8e54e9);
}

/* Redes Sociais */
.footer {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

.footer span {
    color: rgba(0, 0, 0, 0.7);
    font-size: 0.8rem;
    text-align: center;
}

.footer .social-field {
    padding: 0.4rem;
    font-size: 0.85rem;
    cursor: pointer;
    margin-top: 1rem;
}

.footer .social-field a i {
    margin: 0 0.5rem;
}

.footer .social-field a {
    text-decoration: none;
    color: white;
}

.footer .social-field.twitter {
    background: linear-gradient(to right, #56a7f2, #468aca);
}

.footer .social-field.facebook {
    background: linear-gradient(to right, #1e3c72, #2a5298);
}