@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";

body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: LightGray;
}

fieldset {
    padding: 25px;
    width: 225px;
    margin: auto;
}


/* Classe para criar uma barra em baixo de qualquer frase */
/* Index - <div class="border"></div> */
/* .border {
    width: 220px;
    height: 5px;
    background: #00004a;
    margin: 10px auto;
} */


/* Imagem do Drone inicial */
#drone-box {
    margin: 150px auto;
    width: 200px;
    position: relative;
}

.drone-pic {
    width: 100%;
}

.left-pic {
    width: 80px;
    top: 0;
    left: -11px;
    position: absolute;
    animation: rotation .2s linear infinite;
}

.right-pic {
    width: 80px;
    top: 0;
    right: -11px;
    position: absolute;
    animation: rotation .2s linear infinite;
}

@keyframes rotation {
    100% {
        transform: rotateY(360deg);
    }
}


/* Style the navigation bar */
.navbar {
    width: 100%;
    background-color: #555;
    overflow: auto;
}


/* Navbar links */
.navbar a {
    float: left;
    text-align: center;
    padding: 12px;
    color: #ffffff;
    text-decoration: none;
    font-size: 17px;
}


/* Navbar links on mouse-over */
.navbar a:hover {
    background-color: Black;
}


/* Current/active navbar link */
.active {
    background-color: #000099;
}


/* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
@media screen and (max-width: 500px) {
    .navbar a {
        float: none;
        display: block;
    }
}

/****************************************************************/

/* Barra de cima - cabeçalho */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: Black;
}

li {
    float: left;
}

li a, .dropbtn {
    display: inline-block;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: #00004a;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: #111111;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}


/* Barra por debaixo do cabeçalho */
#menu li a {
    text-decoration: none;
    position: relative;
    font-size: 15px;
    display: block;
    overflow: hidden;
    transition: 0.7s all;
    padding: 13px;
    font-size: 17px;
}

#menu li a:before {
    content: '';
    width: 50px;
    position: absolute;
    border-bottom: 4px solid #ffffff;
    bottom: 0;
    right: 350px;
    transition: 0.7s all;
}

#menu li a:hover:before {
    right: 0;
}


/* Search Box */
.search-box {
    position: absolute;
    top: 10%; /* altura */
    right: 0.60%; /* altura */
    background: -webkit-linear-gradient(to right, #000099, #00004a);
    background: linear-gradient(to left, #000099, #00004a);
    height: 40px;
    border-radius: 40px;
    padding: 5px;
}


.search-btn {
    color: #ffffff;
    float: left;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #111111;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    text-decoration: none;
}

.search-txt {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0px;
    color: #dddddd;
    font-size: 20px;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;
}

.search-box:hover > .search-txt {
    width: 200px;
    padding: 0 6px;
}

.search-box:hover > .search-btn {
    color: #dddddd;
}


/* Rodapé - Redes Sociais */
/* Utilização do footer */
footer {
    width: 100%;
    height: 7.70rem;
    background-color: Black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-content {
    width: 75%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-content p {
    color: #a7a7a7;
    font-size: 1.2rem;
}

.social-list a {
    margin: 0 2rem;
    color: #a7a7a7;
    font-size: 1.3rem;
}

.social-list ul {
    display: flex;
}


/* Scroll top button */
#link-topo {
    position: fixed;
    right: 3rem;
    bottom: 3rem;
    width: 3rem;
    height: 3rem;
    background: #00004a;
    background: -webkit-linear-gradient(to right, #000099, #00004a);
    background: linear-gradient(to left, #000099, #00004a);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
    color: #fff;
    border-radius: .3rem;
    box-shadow: 0 0.1rem 0.6rem #00000009;
}

/********************************************/

/* Drones */
/* Utilização da área dos drones */
.drones {
    display: inline-block;
    justify-content: space-evenly;
    margin-bottom: 2rem;
}

.card {
    width: 35rem;
    height: 35rem;
    position: relative;
}

.borders {
    width: 160px;
    height: 5px;
    background: -webkit-linear-gradient(to right, #000099, #00004a);
    background: linear-gradient(to left, #000099, #00004a);
    margin: 26px auto;
}

/* Utilização das cartas (imagens) dos drones com os seus efeitos */
.card-img-wrapper {
    width: 100%;
    height: 100%;
    background-color: #111111;
    border-radius: 0.75rem;
}

.card-img-wrapper img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 0.75rem;
    opacity: 0.8;
    transition: opacity 0.3s;
}

.card:hover .card-img-wrapper img {
    opacity: 0.5;
}

.item-box:before {
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0;
    border-bottom: 3px solid transparent;
    border-left: 3px solid transparent;
    transition: all .8s ease;
}

.item-box:after {
    position: absolute;
    content: '';
    right: 0;
    top: 0;
    width: 100%;
    height: 0;
    border-top: 3px solid transparent;
    border-right: 3px solid transparent;
    transition: all .8s ease;
}

.single-item:hover .item-box:after,
.single-item:hover .item-box:before {
    border-color: #000099;
    width: 50%;
    height: 50%;
}

/* Texto dentro de cada carta de drone */
.card-info {
    position: absolute;
    bottom: 0;
    opacity: 0;
    visibility: hidden;
    padding: 1.5rem;
    text-shadow: 0.3rem 0.2rem 0.3rem rgba(0, 0, 0, 0.6);
    transition: all 0.3s;
}

.card-info h2 {
    font-size: 1.5rem;
    font-weight: 500;
    color: #dddddd;
}

.card-info h3 {
    font-weight: bolder;
    color: #00004a;
    margin-bottom: 1.5rem;
}

.card-info p {
    color: #dddddd;
    font-weight: 500;
    width: 100%;
    margin-bottom: 1.5rem;
    text-align: left;
}

/* Classe de cor universal para o botão dentro da carta */
.btn {
    background: #6a3093;
    background: -webkit-linear-gradient(to right, #000099, #8e54e9);
    background: linear-gradient(to left, #000099, #8e54e9);
    color: #dddddd;
    border-radius: 0.5rem;
    border: none;
    box-shadow: 0 0.1rem 0.8rem rgba(0, 0, 0, 0.4);
}

/* Botão Comprar de cada carta */
.card-info button {
    width: 8rem;
    height: 2.5rem;
}

/* Efeito dentro da carta */
.card:hover .card-info {
    bottom: 5rem;
    opacity: 1;
    visibility: visible;
}


/* Company */
.borders {
    width: 160px;
    height: 5px;
    background: -webkit-linear-gradient(to right, #000099, #00004a);
    background: linear-gradient(to left, #000099, #00004a);
    margin: 26px auto;
}

.pic {
    width: 50%;
}

.profile h3 {
    font-size: 20px;
    margin-top: 15px;
    color: #00004a;
}

span {
    font-size: 12px;
    color: #111111;
}

blockquote {
    font-size: 16px;
    line-height: 30px;
}

blockquote::before {
    content: '“';
    font-size: 50px;
    position: relative;
    color: #111111;
    line-height: 20px;
    bottom: -15px;
    right: 5px;
}

blockquote::after {
    content: '”';
    font-size: 50px;
    position: relative;
    color: #111111;
    line-height: 10px;
    bottom: -15px;
    left: 5px;
}

.profile:hover {
    box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: 0.5s;
}


/* About Me */
/* About Me - Conhecimentos */
/* Configuração da sessão de conhecimento com uso da grid */
.conhecimentos {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(6, 6rem);
    row-gap: 3rem;
}

/* Formatação de cada conhecimento dentro da grid */
/* 1º conhecimento */
.conhecimento:nth-child(1) {
    grid-column: 4 / 7;
    grid-row: 1 / 3;
}

/* 2º conhecimento */
.conhecimento:nth-child(2) {
    grid-column: 3 / 6;
    grid-row: 3 / 5;
}

/* 3º conhecimento */
.conhecimento:nth-child(3) {
    grid-column: 4 / 7;
    grid-row: 5 / -1;
}

/* 4º conhecimento */
.conhecimento:nth-child(4) {
    grid-column: 11 / 14;
    grid-row: 1 / 3;
}

/* 5º conhecimento */
.conhecimento:nth-child(5) {
    grid-column: 12 / 15;
    grid-row: 3 / 5;
}

/* 6º conhecimento */
.conhecimento:nth-child(6) {
    grid-column: 11 / 14;
    grid-row: 5 / -1;
}

.sessão-conhecimentos {
    height: 100%;
    padding-bottom: 2rem;
}

.conhecimento-header {
    display: flex;
    align-items: center;
    color: rgb(17, 17, 17);
}

.conhecimento-header i {
    font-size: 2.5rem;
    margin-right: .4rem;
}

/* Titulo dos conhecimentos */
.conhecimento-header h3 {
    font-size: 2rem;
    padding-left: 1rem;
}

/* Texto dos conhecimentos */
.conhecimento-text {
    line-height: 1.3rem;
    margin-top: 1rem;
    text-align: left;
}

/* Ajustes na imagem central, primeiro para local de ocupação e depois para não ficar por cima dos conhecimentos */
.conhecimentos-img-wrapper {
    grid-column: 7/11;
    grid-row: 2/6;
    width: 100%;
}

.conhecimentos-img-wrapper img {
    object-fit: cover;
    width: 100%;
}


/* Contact Us */
.borders {
    width: 160px;
    height: 5px;
    background: -webkit-linear-gradient(to right, #000099, #00004a);
    background: linear-gradient(to left, #000099, #00004a);
    margin: 26px auto;
}

.contact-form {
    max-width: 500px;
    margin: auto;
    padding: 0 10px;
    overflow: hidden;
}

.contact-form-text {
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin: 16px 0;
    border: 0;
    background: #111111;
    padding: 15px 15px;
    outline: none;
    color: #ddd;
    transition: 0.5s;
}

.contact-form-text:focus {
    box-shadow: 0 0 10px 4px #34495e;
}

textarea.contact-form-text {
    resize: none;
    height: 120px;
}


/* Testimonials Section */
.testimonials {
    color: #111111;
    text-align: center;
}

.container {
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
}

.borders {
    width: 160px;
    height: 5px;
    background: -webkit-linear-gradient(to right, #000099, #00004a);
    background: linear-gradient(to left, #000099, #00004a);
    margin: 26px auto;
}

/* Colunas dos depoimentos (testimonials) */
.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.profile {
    padding: 50px;
}

.profile img {
    border-radius: 50%;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.4);
    color: #111111;
    display: inline-block;
    height: 150px;
    width: 150px;
    margin-bottom: 30px;
}

.stars {
    color: #000099;
    margin-bottom: 20px;
}

.profile h3 {
    font-size: 20px;
    margin-top: 15px;
    color: #00004a;
}

span {
    font-size: 12px;
    color: #111111;
}

blockquote {
    font-size: 16px;
    line-height: 30px;
}

blockquote::before {
    content: '“';
    font-size: 50px;
    position: relative;
    color: #111111;
    line-height: 20px;
    bottom: -15px;
    right: 5px;
}

blockquote::after {
    content: '”';
    font-size: 50px;
    position: relative;
    color: #111111;
    line-height: 10px;
    bottom: -15px;
    left: 5px;
}


/* Login */
/* Para o bottom ficar preenchido ao centro */
form {
    display: flex;
    flex-direction: column;
}

form input[type="submit"] {
    margin-top: 2rem;
    padding: 0.4rem;
    width: 100%;
    background: linear-gradient(to left, #000099, #8e54e9);
    cursor: pointer;
    color: white;
    font-size: 0.9rem;
    font-weight: 300;
    border-radius: 4px;
    transition: all 0.3s ease;
}

form input[type="submit"]:hover {
    letter-spacing: 0.5px;
    background: -webkit-linear-gradient(to right, #000099, #8e54e9);
}

/* Redes Sociais - Login */
.footers {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

.footers span {
    color: rgba(0, 0, 0, 0.7);
    font-size: 0.8rem;
    text-align: center;
}

.footers .social-field {
    padding: 0.4rem;
    border-radius: 4px;
    font-size: 0.85rem;
    width: auto;
    cursor: pointer;
    margin-top: 1rem;
    text-align: center;
}

.footers .social-field a i {
    margin: 0 0.5rem;
    width: 15px;
}

.footers .social-field a {
    text-decoration: none;
    color: white;
}

.footers .social-field.gmail {
    background: -webkit-linear-gradient(to right, #8e36e0, #164b92);
    background: linear-gradient(to left, #8e36e0, #164b92);
}

.footers .social-field.linkedin {
    background: -webkit-linear-gradient(to right, #0077b5, #111111);
    background: linear-gradient(to left, #0077b5, #111111);
}

.footers .social-field.facebook {
    background: -webkit-linear-gradient(to right, #1e3c72, #2a5298);
    background: linear-gradient(to left, #1e3c72, #2a5298);
}


/* Registo */
/* Elementos de classe "género" */
.género {
    margin-bottom: 1em;
}