{% extends 'layout.html' %}
{% block body %}

<html lang="pt" dir="ltr">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>


<!--Conhecimentos-->
<section class="sessão-conhecimentos" id="conhecimentos">
    <div class="sessão-header">
        <h2>Knowledges About Me</h2> <!--Conhecimentos sobre mim-->
        <div class="borders"></div>

    </div>
    <div class="conhecimentos">
        <div class="conhecimento">
            <div class="conhecimento-header">
                <i class="fas fa-graduation-cap"></i>
                <h3>Percurso Escolar</h3>
            </div>
            <div class="conhecimento-text">
                <p>Formação profissional, no curso Técnico de Gestão e Programação de Sistemas Informáticos, na Escola Secundária de Maximinos em Braga - Portugal.</p>
            </div>
        </div>

        <div class="conhecimento">
            <div class="conhecimento-header">
                <i class="fas fa-desktop"></i>
                <h3>Hardware - Computadores</h3>
            </div>
            <div class="conhecimento-text">
                <p>Aprecio e gosto bastante de fazer a manutenção (hardware) de notebooks e desktops.</p>
            </div>
        </div>

        <div class="conhecimento">
            <div class="conhecimento-header">
                <i class="fab fa-slideshare"></i>
                <h3>Slideshare</h3>
            </div>
            <div class="conhecimento-text">
                <p>Trabalhos realizados e completos por mim ao longo do meu percurso escolar e na área de desenvolvimento estarão todos descarregados no slideshare e afins para descarregamento, acompanhamento e análise dos mesmos.</p>
            </div>
        </div>

        <div class="conhecimento">
            <div class="conhecimento-header">
                <i class="fas fa-paint-brush"></i>
                <h3>Designer</h3>
            </div>
            <div class="conhecimento-text">
                <p>Conhecimento no uso dos programas Adobe XD, Adobe Photoshop, GIMP, Paint, tudo isto voltado para a área de criação de protótipos de aplicações móveis (por exemplo), logótipos, etc.</p>
            </div>
        </div>

        <div class="conhecimento">
            <div class="conhecimento-header">
                <i class="fab fa-bootstrap"></i>
                <h3>Boostrap</h3>
            </div>
            <div class="conhecimento-text">
                <p>Conhecimento no framework Bootstrap, para a criação de sites e projetos.</p>
            </div>
        </div>

        <div class="conhecimento">
            <div class="conhecimento-header">
                <i class="fab fa-github"></i>
                <h3>Git e GitHub</h3>
            </div>
            <div class="conhecimento-text">
                <p>Projetos completos e na área de desenvolvimento estarão todos descarregados no github e afins para acompanhamento e análise de código.</p>
            </div>
        </div>

        <div class="conhecimentos-img-wrapper">
            <img src="static/conhecimentos.png" alt="">
        </div>
    </div>

</section>

<blockquote>Sou apaixonado pelo meu trabalho e muito curioso.</blockquote>
<h3>Diogo Silva <span>Founder / CEO at Drone by Sky</span></h3>

<!-- <div class="social">
    <i class="fa fa-facebook"></i>
    <i class="fa fa-linkedin"></i>
    <i class="fa fa-instagram"></i>
    <i class="fa fa-twitter"></i>
</div> -->


<!--Scroll top button-->
<a href="" id="link-topo">
    <i class="fas fa-arrow-up"></i>
</a>

</body>
</html>

{% endblock %}