{% extends 'layout.html' %}
{% block body %}

<html lang="pt" dir="ltr">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<div class="container">
    <h2>About my Company</h2> <!--Sobre a minha empresa-->
    <div class="borders"></div>

    <div class="profiles">
        <img src="static/drone-delivery.png" class="pic">

        <p>Drone by Sky, é uma empresa que facilita a intermediação entre a loja e o/a cliente na
            compra de produtos, mais especificamente a venda de Drones diminuindo os custos de entrega tanto
            para a loja como para o/a cliente.</p>

        <blockquote>Sou apaixonado pelo meu trabalho e muito curioso.</blockquote>

        <h3>Diogo Silva <span>Founder / CEO at Drone by Sky</span></h3>
    </div>
</div>

<!--Scroll top button-->
<a href="" id="link-topo">
    <i class="fas fa-arrow-up"></i>
</a>

</body>
</html>

{% endblock %}