{% extends 'layout.html' %}
{% block body %}

<html lang="pt" dir="ltr">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<div class="contact-section">
    <h2>Contact Us 🗣</h2> <!--Contacte-nos-->
    <div class="borders"></div>

    <form class="contact-form" action="index.html" method="post">
        <input type="text" class="contact-form-text" placeholder="Visitante">
        <input type="email" class="contact-form-text" placeholder="Endereço de Email">
        <input type="text" class="contact-form-text" placeholder="Contacto de telemóvel / telefone">
        <textarea class="contact-form-text" placeholder="Escreva a sua mensagem"></textarea>
        <input type="submit" class="contact-form-btn" value="Submit">
    </form>

</div>

<!--Scroll top button-->
<a href="" id="link-topo">
    <i class="fas fa-arrow-up"></i>
</a>

</body>
</html>

{% endblock %}