{% extends 'layout.html' %}
{% block body %}

<html lang="pt">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<div class="sessão-drones" id="drones">
    <div class="sessão-header">
        <h2>Drones</h2>
        <div class="borders"></div>
    </div>
    <div class="drones">
        <div class="card">
            <div class="single-item">
                <div class="item-box">
                    <div class="card-img-wrapper">
                        <img src="static/drones/d1.png" alt="">
                    </div>
                    <div class="card-info">
                        <h2>DJI Mavic 2 Pro</h2>
                        <h3>Drone</h3>
                        <p>O sonho da DJI sempre foi fazer um drone que existisse onde a engenharia, a tecnologia e
                            as necessidades do fotógrafo aéreo convergem.</p>
                        <p>Um drone que incorpora todas as tecnologias avançadas e exclusivas da DJI e é capaz de
                            redefinir o que é possível para o mundo da fotografia aérea.</p>
                        <p>Ao criar o Mavic 2, eles tornaram este sonho realidade.</p>
                        <button class="btn">Comprar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="drones">
    <div class="card">
        <div class="single-item">
            <div class="item-box">
                <div class="card-img-wrapper">
                    <img src="static/drones/d2.png" alt=""/>
                </div>
                <div class="card-info">
                    <h2>DJI Mavic Air</h2>
                    <h3>Drone</h3>
                    <p>O drone DJI Phantom 4 Pro V2.0 inclui um sistema de transmissão OcuSync HD que pode operar
                        numa frequência de banda dupla e que se liga sem fios aos DJI Goggles.</p>
                    <p>Tal como o Phantom 4 Pro e o Advanced, o Phantom4 Pro V2.0 está equipado com um sensor de 1”
                        e 20 MP, sendo capaz de gravar vídeos em 4K/60 fps e disparar no modo de disparo contínuo a
                        14 fps.</p>
                    <button class="btn">Comprar</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="drones">
    <div class="card">
        <div class="single-item">
            <div class="item-box">
                <div class="card-img-wrapper">
                    <img src="static/drones/d3.png" alt=""/>
                </div>
                <div class="card-info">
                    <h2>DJI FPV</h2>
                    <h3>Drone</h3>
                    <p>Corra pelas nuvens com velocidade, força e controle total. Vá para o além ... e redefina o
                        vôo.</p>
                    <p>Voe pelo céu de maneiras que parecem impossíveis! Nunca perdemos nossa paixão por voar, e com
                        DJI FPV, essas paixões transformaram a imaginação em realidade.</p>
                    <p>Com esta plataforma aérea envolvente e intuitiva, prepare-se para ir mais longe.</p>
                    <button class="btn">Comprar</button>
                </div>
            </div>
        </div>
    </div>
</div>

</section>

<!--Scroll top button-->
<a href="" id="link-topo">
    <i class="fas fa-arrow-up"></i>
</a>

</body>
</html>

{% endblock %}