{% extends 'layout.html' %}

{% block body %}
<p><br></p>
<h2>Drone by Sky 🛩</h2>
<div class="border"></div>
<p><br></p>

{% endblock %}

<!-- Rodapé de Imagens -->
<!-- <div id="items-wrapper">
  <div id="items">
    <div class="item"><img src="https://images.unsplash.com/photo-1533309907656-7b1c2ee56ddf?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1380&q=80"/></div>
    <div class="item"><img src="https://unsplash.it/1600/400?image=930"/></div>
    <div class="item"><img src="https://unsplash.it/1600/400?image=990"/></div>
    <div class="item"><img src="https://unsplash.it/1600/400?image=980"/></div>
    <div class="item"><img src="https://unsplash.it/1600/400?image=970"/></div>
    <div class="item"><img src="https://unsplash.it/1600/400?image=976"/></div>
    <div class="item"><img src="https://unsplash.it/1600/400?image=993"/></div>
    <div class="item"><img src="https://unsplash.it/1600/400?image=969"/></div>
  </div>
</div>
-->