{% extends 'layout.html' %}
{% block body %}

<p><br></p>
<h2>Drone by Sky</h2>

<html>
<head> <!--Cabeçalho-->
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div id="drone-box">
    <img src="static/drone - index/drone.png" class="drone-pic">
    <img src="static/drone - index/drone-left.png" class="left-pic">
    <img src="static/drone - index/drone-right.png" class="right-pic">
</div>

<!--Rodapé - Redes Sociais-->
<footer>
    <div class="footer-content">
        <p>&copy; 2021 - Website Created by Diogo Silva 🧠</p>

        <div class="social-list">
            <ul>
                <li><a href="https://www.linkedin.com/in/diogosilva7/"><i class="fab fa-linkedin-in"></i></a></li>

                <li><a href="https://www.slideshare.net/DiogoSilva671"><i class="fab fa-slideshare"></i></a></li>

                <li><a href="https://www.facebook.com/diogofssilva"><i class="fab fa-facebook-f"></i></a></li>

                <li><a href="https://www.instagram.com/_d.silva_7/"><i class="fab fa-instagram"></i></a></li>
            </ul>
        </div>
    </div>
</footer>

<!--Scroll top button-->
<a href="" id="link-topo">
    <i class="fas fa-arrow-up"></i>
</a>

</body>
</html>

{% endblock %}