{% extends 'layout.html' %}

{% block body %}

<h2>Criar Conta</h2>
<fieldset>
    <legend>Introduza os seus dados</legend>
    <form method="post">
        <h4>Utilizador</h4>
        <input type='text' name='utilizador' required>
        <h4>Endereço de Email</h4>
        <input type='text' name='email' required>
        <h4>Palavra-Passe</h4>
        <input type='password' name='passe' required>
        <h4>Confirme a Passe</h4>
        <input type='password' name='cpasse' required>
        <p><br></p>
        <input type='submit' value="Submeter">
    </form>
</fieldset>
{% if erro %}<h1>{{ erro }}</h1>{% endif %}
{% endblock %}
