{% extends 'layout.html' %}
{% block body %}

<html lang="pt" dir="ltr">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>

<h2>Testimonials Section</h2> <!--Secção de depoimentos-->
<div class="borders"></div>

<div class="row">
    <div class="profile">
        <img src="static/people - testimonials/person1.png" alt="">
        <p></p>

        <div class="stars">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
        </div>

        <blockquote>Excellent services provided by super helpful professionals.</blockquote>
        <h3>Robert Strickland <span>Founder / CEO at Adapt</span></h3>

    </div>
</div>

<div class="row">
    <div class="profile">
        <img src="static/people - testimonials/person2.png" alt="">
        <p></p>

        <div class="stars">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="far fa-star"></i>
        </div>

        <blockquote>We were very pleased with the Drone by Sky service!</blockquote>
        <h3>Nancy Bell <span>Founder / CEO at Mission You</span></h3>

    </div>
</div>

<div class="row">
    <div class="profile">
        <img src="static/people - testimonials/person3.png" alt="">
        <p></p>

        <div class="stars">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
        </div>

        <blockquote>A flexible platform that meets customer needs.</blockquote>
        <h3>Albert Gilpin <span>Founder / CEO at Ailpin</span></h3>

    </div>
</div>

<!--Scroll top button-->
<a href="" id="link-topo">
    <i class="fas fa-arrow-up"></i>
</a>

</body>
</html>

{% endblock %}